<footer class="site-footer">
  <hr>
    {{ partial "functions/get_hook" (dict "hook" "footer-start" "context" .) }}
  {{/* Load footer block */}}
  {{ $footer_section_name := site.Params.footer.block | default "minimal" }}
  {{ $footer_section_path := printf "components/footers/%s.html" $footer_section_name }}
  {{ if not (templates.Exists (printf "partials/%s" $footer_section_path)) }}
    {{ errorf "Check your `params.yaml`. Cannot find footer block at `layouts/partials/%s`" $footer_section_path }}
  {{ end }}
  {{ partial $footer_section_path . }}
  
  <p>
    Jasper Shen at <a href="https://mathrice.fr">Stanford University</a>
    <br>
    
    <i class="fa-brands fa-github"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">GitHub</a>
&nbsp;
        <i class="fa-brands fa-weixin"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">Wechat</a>

    &nbsp;
        <i class="fa-brands fa-twitter"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">Twitter</a>
        
    &nbsp;
        <i class="fa-solid fa-envelope"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">Email</a>  
        &nbsp;
            <i class="fa-solid fa-location-dot"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">Address</a>
   
    </p>

    <div style="display: flex; justify-content: space-between; padding: 20px;">
          <!-- logo1 -->
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/stanford-university-logo.png" alt="logo" class="center" width="80%" height="50"></a>
    </center>
            </div>
            
    <!-- logo2 -->
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/yale.png" alt="logo" class="center" width="60%" height="50"></a>
    </center>
            </div>
    
    <!-- logo3 -->
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/Harvard.png" alt="logo" class="center" width="100%" height="50"></a>
    </center>
            </div>
    
    <!-- logo4 -->
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/mit.png" alt="logo" class="center" width="50%" height="50"></a>
    </center>
            </div>
  
  <!-- logo5 -->  
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/fudan.png" alt="logo" class="center" width="35%" height="50"></a>
    </center>
            </div>
    
        </div>

    <hr>
  
      <p class="powered-by">
      {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; {{ end }}

      Powered by <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a> and
      <a href="https://wowchemy.com/" target="_blank" rel="noopener">Wowchemy</a><br>
  
</footer>