<footer class="site-footer">
  <hr>

  <p>
    Find us here:
    &nbsp;
    <i class="fa-brands fa-github"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">GitHub</a>
&nbsp;
        <i class="fa-brands fa-weixin"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">WeChat</a>

    &nbsp;
        <i class="fa-brands fa-twitter"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">Twitter</a>
        
    &nbsp;
        <i class="fa-solid fa-envelope"></i> <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">Email</a>  
   
    </p>

<center>
  <p>
<i class="fa-solid fa-location-dot"></i> Address: <a href="https://github.com/jaspershen-lab/jaspershen-lab" target="_blank" rel="noopener">450 Serra Mall, Stanford, CA 94305</a>
</p>
</center>

<!--
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.204215852551!2d-122.15243152416453!3d37.408647733166056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fba9668905241%3A0x12fb78358a01dfe9!2s3165%20Porter%20Dr%2C%20Palo%20Alto%2C%20CA%2094304!5e0!3m2!1sen!2sus!4v1691293034620!5m2!1sen!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
-->

<br>

<center>
  <p>
<i class="fa-solid fa-handshake"></i> Honored supported by:
</p>
</center>

    <div style="display: flex; justify-content: space-between; padding: 20px;">
          <!-- logo1 -->
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/ntu_logo.png" alt="logo" class="center" width="50%" height="50"></a>
    </center>
            </div>
            
    <!-- logo2 -->
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/yale.png" alt="logo" class="center" width="50%" height="50"></a>
    </center>
            </div>
    
    <!-- logo3 -->
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/Harvard.png" alt="logo" class="center" width="50%" height="50"></a>
    </center>
            </div>
    
    <!-- logo4 -->
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/mit.png" alt="logo" class="center" width="50%" height="50"></a>
    </center>
            </div>
  
  <!-- logo5 -->  
            <div style="flex: 1;">
      <center>
    <a href="https://www.stanford.edu" target="_blank"><img src="https://jaspershen-lab.github.io/image/fudan.png" alt="logo" class="center" width="50%" height="50"></a>
    </center>
            </div>
    
        </div>

      <p class="powered-by">
      {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; {{ end }}

<!--
      Powered by <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo</a> and
      <a href="https://wowchemy.com/" target="_blank" rel="noopener">Wowchemy</a><br>
      --> 
  <!--
  <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=yqvc_qUTqeZAQuPNuedk_Ln_lEiAPfnT5br9KDkIZoo"></script>
  --> 

    <div style="display: flex; justify-content: space-between; padding: 20px;">
          <!-- logo1 -->
            <div style="flex: 1;">
            </div>
            
    <!-- logo2 -->
            <div style="flex: 1;">
            </div>
            
                <!-- logo3 -->
            <div style="flex: 1;">
              <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=yqvc_qUTqeZAQuPNuedk_Ln_lEiAPfnT5br9KDkIZoo"></script>
            </div>
            
                            <!-- logo4 -->
            <div style="flex: 1;">
            </div>
            
                            <!-- logo5 -->
            <div style="flex: 1;">
            </div>

        </div>

  
      <hr>

      {{ partial "functions/get_hook" (dict "hook" "footer-start" "context" .) }}
  {{/* Load footer block */}}
  {{ $footer_section_name := site.Params.footer.block | default "minimal" }}
  {{ $footer_section_path := printf "components/footers/%s.html" $footer_section_name }}
  {{ if not (templates.Exists (printf "partials/%s" $footer_section_path)) }}
    {{ errorf "Check your `params.yaml`. Cannot find footer block at `layouts/partials/%s`" $footer_section_path }}
  {{ end }}
  {{ partial $footer_section_path . }}
  
  
</footer>